body {
    background-color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    width: 300px;
    align-items: center;
    margin: auto;
    display: flex;
}
.container {
    background-color: #cca8ff;
    background-color: rgba(204, 168, 255, .75);
    border-radius: 10px;
    padding-bottom: 20px
}
button {
    border-color: black;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}
#save-btn {
    margin: 10px;
}
button:hover {
    cursor: pointer;
}
